body {
  font-family: 'Roboto';
  max-height: 100vh;
  margin: 0px;
}

h1 {
  margin: 0;
}

.main-content-wrapper {
  display: flex;
}

.header {
  display: flex;
  background-color: #10a1e4e1;
  color: white;
  height: 5rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 35px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #efeff5;
  height: 100vh;
  padding: 40px;
}

label.form-label {
  padding-bottom: 10px;
}

#input-title,
#input-author,
#input-pages,
#input-read {
  margin-bottom: 20px;
}

#input-read {
  margin-right: 152px;
}

#card-container {
  display: flex;
  padding-left: 20px;
  width: 100vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 50px;
  height: 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 50px;
}
